#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
}

.song-cover img {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.nav-bar {
  width: 250px;
  /* border: 1px solid red; */
}

.nav-links {
  font-family: "Basier Circle", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0; /* No need for '%' — use '0' */
  color: rgba(255, 255, 255, 1);
}

/* Input Styling */
.input-search {
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.grey-color {
  color: rgba(255, 255, 255, 0.5);
}

/* Card Styling */
.artist-title {
  font-size: 12px;
}

.artist-logo {
  border-radius: 50%;
}

.artist-logo-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

/* Song List */
#songs-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.song-card {
  transition: all 0.3s ease;
}

.song-card:hover {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

/* Song Player */
#songPlayer {
  max-width: 480px;
  /* max-height: fit-content; */
}

.song-cover {
  width: 480px;
  max-height: 400px;
  object-fit: contain;
  /* height: 480px; */
}

/* Progress Bar */
.progress {
  width: 100%;
  height: 6px;
  color: white;
  text-align: center;
  background: black;
  border-radius: 20px;
  /* border: 1px solid black; */
}

.circle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-dark {
  background: white;
}

.play-pause {
  transition: all 0.3s ease;
}

.cursor-pointer {
  cursor: pointer;
}

.active-song {
  background: #2a2a2a;
  border-radius: 8px;
}

/* Context Menu */
/* .context-menu {
  position: absolute;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 8px 0;
}

.context-menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #333;
} */

.hover-bg-grey:hover {
  background: #2a2a2a;
}

.context-menu {
  transform: translateY(-10px);
  animation: slideDown 0.2s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

.circle {
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.circle:hover {
  background: #2a2a2a;
}

.inactive-link {
  color: rgba(255, 255, 255, 0.5);
}

.search-input {
  opacity: 0.8;
}
